<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>KYC Documents</title>
</head>
<body>
<h1 style="text-align: center">KYC Documents</h1>
<table>
    <thead>
    <tr>
        <th>KYC ID</th>
        <th>Status</th>
        <th>UserId</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="document : ${documents}">
        <td th:text="${document.id}"></td>
        <td th:text="${document.kycStatus}"></td>
        <td th:text="${document.userId}"></td>
    </tr>
    </tbody>
</table>
</body>
</html>